.chats{
    scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}
.user-message{
    border-top-left-radius: 4px;
}
.user-message::before{
content: "";
position: absolute;
height: 0px;
width: 0px;
border-top: 20px solid #bd84e5;
border-left: 20px solid transparent;
left: -10px;
top: 0;


}
.my-message{
    border-top-right-radius: 10px;
    right: 0;
}
.my-message::before{

content: "";
position: absolute;
height: 0px;
width: 0px;
border-top: 20px solid #40016d;
border-right: 20px solid transparent;
right: -10px;
top: 0;

}


/* From Uiverse.io by Nawsome */ 
/* From Uiverse.io by TemplateVentures */ 
.loader {
  width: 350px;
  height: 180px;
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.loading {
  /* width: 100%; */
  background: lightgrey;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 10px;
  background: #002;
  border-radius: 10px;
  z-index: 1;
  animation: loading 0.6s alternate infinite;
}
label {
  color: #fff;
  font-size: 18px;
  animation: bit 0.6s alternate infinite;
}

@keyframes bit {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    left: -25%;
  }
  100% {
    left: 70%;
  }
  0% {
    left: -25%;
  }
}
